# Dependencies
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (secrets)

# Build outputs
dist/
build/

# Operating system files
.DS_Store
Thumbs.db
